<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.rf.test.website.nscore4.NSCore4AccountTest"/>
      <class name="com.rf.test.website.nscore3.OrderTabTests"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.order.ViewOrderDetailsTest"/>
      <class name="com.rf.test.website.storeFront.legacy.OrderVerificationTest"/>
      <class name="com.rf.test.website.RFLSDWebsiteBaseTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.accounts.bulkTest.AddShippingTest"/>
      <class name="com.rf.test.website.storeFront.hybris.UpgradeDowngradeTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.accounts.bulkTest.MyAccountTest"/>
      <class name="com.rf.test.website.cscockpit.UINavigationVerificationTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.autoships.AutoshipTest"/>
      <class name="com.rf.test.website.storeFront.hybris.standardEnrollment.corp.RFExpressBusinessKitTest"/>
      <class name="com.rf.test.website.cscockpit.ReturnVerificationTest"/>
      <class name="com.rf.test.website.cscockpit.PermissionsVerificationTest"/>
      <class name="com.rf.test.website.RFDSVCscockpitWebsiteBaseTest"/>
      <class name="com.rf.test.website.cscockpit.CustomerVerificationTest"/>
      <class name="com.rf.test.website.RFWebsiteBaseTest"/>
      <class name="com.rf.test.website.cscockpit.AddEditBillingVerificationTest"/>
      <class name="com.rf.test.website.cscockpit.CheckoutVerificationTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.accounts.bulkTest.ViewAccountDetailsTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.accounts.EditBillingTest"/>
      <class name="com.rf.test.website.storeFront.hybris.standardEnrollment.corp.PersonalResultsKitTest"/>
      <class name="com.rf.test.website.storeFront.hybris.HomePageFunctionalityTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.accounts.bulkTest.ViewAccountDetailsTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.accounts.EditBillingTest"/>
      <class name="com.rf.test.website.storeFront.legacy.PromotionTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.order.AdhocOrdersTest"/>
      <class name="com.rf.test.website.storeFront.hybris.standardEnrollment.corp.BigBusinessLaunchKitTest"/>
      <class name="com.rf.test.website.storeFront.hybris.billingAndShipping.AddEditBillingTest"/>
      <class name="com.rf.test.website.cscockpit.TaxVerificationTest"/>
      <class name="com.rf.test.website.storeFront.hybris.AccountTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.accounts.bulkTest.MyAccountTest"/>
      <class name="com.rf.test.website.cscockpit.AddEditShippingVerificationTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.accounts.EditShippingTest"/>
      <class name="com.rf.test.website.cscockpit.SecurityVerificationTest"/>
      <class name="com.rf.test.website.storeFront.hybris.OrderValidationTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.pws.PWSLoginTest"/>
      <class name="com.rf.test.website.storeFront.hybris.CartAndCheckoutValidationTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.accounts.ViewAccountDetailsTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.accounts.bulkTest.EditBillingTest"/>
      <class name="com.rf.test.website.storeFront.hybris.expressEnrollment.corp.RFExpressBusinessKitTest"/>
      <class name="com.rf.test.website.LSD.LSDTests"/>
      <class name="com.rf.test.website.RFLegacyStoreFrontWebsiteBaseTest"/>
      <class name="com.rf.test.website.storeFront.legacy.EnrollmentTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.autoships.AutoshipTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.accounts.bulkTest.AddBillingTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.accounts.MyAccountTest"/>
      <class name="com.rf.core.utils.HtmlLogger"/>
      <class name="com.rf.test.website.storeFront.hybris.EnrollmentValidationTest"/>
      <class name="com.rf.test.website.storeFront.hybris.billingAndShipping.AddEditShippingTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.accounts.bulkTest.EditShippingTest"/>
      <class name="com.rf.test.website.storeFront.dsv.StoreFrontDSVTestsCleanProfiles"/>
      <class name="com.rf.test.website.storeFront.hybris.expressEnrollment.canadaProvince.EnrollmentTest"/>
      <class name="com.rf.test.website.cscockpit.PulseVerificationTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.accounts.EditShippingTest"/>
      <class name="com.rf.test.website.cscockpit.CreditCardVerificationTest"/>
      <class name="com.rf.test.website.RFDSVStoreFrontWebsiteBaseTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.accounts.ViewAccountDetailsTest"/>
      <class name="com.rf.test.website.cscockpit.dsv.CSCockpitDSVTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.accounts.bulkTest.AddShippingTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.order.ViewOrderDetailsTest"/>
      <class name="com.rf.test.website.cscockpit.OrdersVerificationTest"/>
      <class name="com.rf.test.website.crm.CRMRegressionTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.accounts.AddBillingTest"/>
      <class name="com.rf.test.website.storeFront.dsv.StorefrontDSVTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.accounts.AddShippingTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.order.AdhocOrdersTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.accounts.bulkTest.EditShippingTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.accounts.AddBillingTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.accounts.AddShippingTest"/>
      <class name="com.rf.test.website.storeFront.legacy.ComPWSTest"/>
      <class name="com.rf.test.website.RFStoreFrontWebsiteBaseTest"/>
      <class name="com.rf.test.website.RFNSCoreWebsiteBaseTest"/>
      <class name="com.rf.test.website.RFCRMWebsiteBaseTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.pws.RFPWSLoginTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfl.accounts.bulkTest.EditBillingTest"/>
      <class name="com.rf.test.website.cscockpit.CRPAutoshipVerificationTest"/>
      <class name="com.rf.test.website.storeFront.legacy.UINavigationTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.accounts.bulkTest.AddBillingTest"/>
      <class name="com.rf.test.website.storeFront.hybris.expressEnrollment.biz.PersonalResultsKitTest"/>
      <class name="com.rf.test.website.storeFront.dataMigration.rfo.accounts.MyAccountTest"/>
      <class name="com.rf.test.website.storeFront.legacy.BizPWSTest"/>
      <class name="com.rf.test.website.storeFront.hybris.expressEnrollment.biz.BigBusinessLaunchKitTest"/>
      <class name="com.rf.test.website.cscockpit.SearchVerificationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
